<form method="get" action="/quizes/answer">
    Pregunta (<% include _tema.ejs %>): <%= pregunta%><p>
    <input type="text" name="respuesta" placeholder="Responda aquí" />
    <input type="submit" value="Enviar" />
</form>
