<form method="get" action="/quizes/<%= quiz.id %>/answer">
    Pregunta (<% include _tema.ejs %>): <%= quiz.pregunta%><p>
    <input type="text" name="respuesta" placeholder="Responda aquí" />
    <input type="submit" value="Enviar" />
</form>
